<launch>
    
    <include file="$(find setting_tf2)/launch/tf2_setting.launch">
    </include>

    <!-- Dynamixel Workbench Controller -->
    <include file="$(find dynamixel_workbench_controllers)/launch/position_control.launch">
        <arg name="device_name"        		default="/dev/ttyU2D2"/>
        <arg name="baud_rate"   		default="4500000"/>
	<arg name="profile_velocity"		default="0"/>
	<arg name="profile_acceleration"	default="0"/>
	<arg name="position_p_gain"		default="1500"/>
	<arg name="position_i_gain"		default="500"/>
	<arg name="position_d_gain"		default="300"/>
    </include>

    <!-- ros_mscl -->
    <include file="$(find microstrain_inertial_driver)/launch/microstrain.launch">
          <arg name="name"                   default = "gx5" />
	  <arg name="port"                   default = "/dev/3dm-gx4-25" />
	  <arg name="aux_port"               default = "/dev/ttyACM1" />
	  <arg name="baudrate"               default = "115200" />
	  <arg name="debug"                  default = "false" />
	  <arg name="diagnostics"            default = "false" />
	  <arg name="imu_frame_id"           default = "sensor" />
	  <arg name="imu_data_rate"          default = "150" />
	  <arg name="filter_data_rate"       default = "0" />
	  <arg name="gnss1_frame_id"         default = "gnss1_antenna_wgs84" />
	  <arg name="gnss2_frame_id"         default = "gnss2_antenna_wgs84" />
	  <arg name="filter_frame_id"        default = "sensor_wgs84" />
	  <arg name="filter_child_frame_id"  default = "sensor" />
	  <arg name="nmea_frame_id"          default = "nmea" />
	  <arg name="use_enu_frame"          default = "false" />
    </include>

    <!-- t265 -->
    <include file="$(find realsense2_camera)/launch/rs_t265.launch">
    </include>
    
    <!-- rosserial_arduino -->
    <node pkg="rosserial_arduino" type="serial_node.py" name="ros_arduino_PWMs" >
	<param name="port" value="/dev/arduino-dueP"/>
        <param name="baud" value="57600"/>
    </node>
    
    <node pkg="pwm_pca9685" type="pca9685_node" name="pwm_generator"/>

    <!-- FAC_MAV_Controller -->
	<!--integration limits-->
	<param name="attitude_integ_limit"	value="10.0"/>
	<param name="altitude_integ_limit"	value="100.0"/>
	<param name="position_integ_limit"	value="10.0"/>

	<!--Center of mass-->
	<param name="x_center_of_mass"		value="-0.01"/>	
	<param name="y_center_of_mass"		value="0.003"/>	
	<param name="z_center_of_mass"		value="-0.039"/> <!-- -0.058-->	

	<!--Conventional flight mode-->
    		<!--Conventional Mode attitude_rp gains-->
    		<param name="conv_attitude_rp_P_gain"	value="2.0"/>
    		<param name="conv_attitude_rp_I_gain"	value="0.2"/>
    		<param name="conv_attitude_rp_D_gain"	value="0.45"/>

		<!--Conventional Mode attitude_y gain-->
		<param name="conv_attitude_y_P_gain"	value="2.0"/>
		<!--<param name="conv_attitude_y_I_gain"	value="0"/>-->
		<param name="conv_attitude_y_D_gain"	value="0.2"/>

		<!--Conventional Mode Altitude gains-->
		<param name="conv_altitude_P_gain"	value="10.0"/>
		<param name="conv_altitude_I_gain"	value="5.0"/>
		<param name="conv_altitude_D_gain"	value="6.0"/>

		<!--Conventional Mode Velocity gains-->
		<param name="conv_velocity_P_gain"	value="2.0"/>	
		<param name="conv_velocity_I_gain"	value="1.0"/>	
		<param name="conv_velocity_D_gain"	value="0.5"/>

		<!--Conventional Mode Horizontal Position gains-->
		<param name="conv_position_P_gain"	value="2.0"/>	
		<param name="conv_position_I_gain"	value="0.5"/>	
		<param name="conv_position_D_gain"	value="1.0"/>
	
	<!--Tilt flight mode-->
		<!--Tilt Mode attitude_rp gains-->
		<param name="tilt_attitude_rp_P_gain"	value="2.25"/>	
		<param name="tilt_attitude_rp_I_gain"	value="0.2"/>
		<param name="tilt_attitude_rp_D_gain"	value="0.5"/>

		<!--Tilt Mode attitude_y gains-->
		<param name="tilt_attitude_y_P_gain"	value="2.0"/>
		<!--<param name="tilt_attitude_y_I_gain"	value="0"/>-->
		<param name="tilt_attitude_y_D_gain"	value="0.2"/>

		<!--Tilt Mode Altitude gains-->
		<param name="tilt_altitude_P_gain"	value="10.0"/>
		<param name="tilt_altitude_I_gain"	value="5.0"/>
		<param name="tilt_altitude_D_gain"	value="6.0"/>

		<!--Tilt Mode Velocity gains-->
		<param name="tilt_velocity_P_gain"	value="2.0"/>	
		<param name="tilt_velocity_I_gain"	value="1.0"/>	
		<param name="tilt_velocity_D_gain"	value="0.5"/>

		<!--Tilt Mode Position gains-->
		<param name="tilt_position_P_gain"	value="2.0"/>	
		<param name="tilt_position_I_gain"	value="0.5"/>	
		<param name="tilt_position_D_gain"	value="1.2"/>	

    <node name="FAC_MAV_DOB_node"  pkg="FAC_MAV" type="FAC_MAV_DOB_ctrler"  output="screen"/>

    <node pkg="data_logging" name="data_logging_node" type="data_logging"/>

    <!-- Rosbag -->
    <node pkg="rosbag" type="record" name="record" output="screen" args="-o /home/pwyong/Desktop/catkin_ws/src/FAC_MAV/bag/ /data_log" /><!-- /angle /desired_angle /Forces /t265_pos /desired_altitude"/> -->
</launch>
